:root {
    /* Colors */
    --text:         #161616;
    --background:   #FFF5DB;
    --grey1:        #242424;
    --grey2:        #FAFAFA;
    --accentLight:  #C40000;
    --accentMedium: #A40000;
    --accentDark:   #840000;
}
